/* Organisation de la page */

    /* Body */

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            padding: 30px;
        }

        a {
            text-decoration: none;
            color: black;
        }

    /* Header */

        header {
            border: 1px solid;
            padding: 5px;
        }

        .Logo {
            width: 250px; 
            height: 70px;
            display: block;
            margin: auto;
        } 

    /* Nav */

        .navbar {
            height: 70px;
            border: 1px solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }

        .nav-logo {
            height: 70px;
            width: 5%;
        }

        .navbar-ul {
            display :flex;
            list-style: none;
            justify-content: space-between;
            width: 50%;
            margin-right: 340px;
        }

        .Avenir:hover {
            background-color: black;
            color: aliceblue;
            padding: 20px;
        }

        .Accueil:hover {
            background-color: black;
            color: aliceblue;
            padding: 20px;
        }

        .Evenement:hover {
            background-color: black;
            color: aliceblue;
            padding: 20px;
        }

    /* Main */

        main {
            border: 1px solid;
        }

        .head-A, .head-B, .debut-one, .debut-two, .fin {
            border: 1px solid;
        }

        .Title {
            color:blueviolet;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Subtitle {
            display: flex;
            color: blue;
        }

        /* Section head-A et head-B */

            .head-A {
                background-image: url(./Image/boxe.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .head-B {
                background-image: url(./Image/Ring.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        /* Section debut-one ( Home ) */

            .illustration {
                display: flex;
                float: right;
                width: 100px;
                height: 100px;
                padding: 40px;
            }

            #Texte {
                display: flex;
                text-align: justify;
                padding-right: 600px;
                padding-left: 100px;
            }

        /* Section fin */   

            #Grid {
                display: grid;
                grid-template-columns: 50% 50%;
            }

            #Carte {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }

            iframe {
                width: 300px;
                height: 300px;
            }

        /* Section debut-two ( Event ) */

            .postal {
                display: block;
                margin: auto;
                width: 100px;
                height: 50px;
            }

    /* Footer */

        footer {
            border: 1px solid;
        }



/* Mobile S 320px */



/* Mobile M 375px */



/* Mobile L 425px */



/* Tablet 768 px */



/* Laptop 1024px */



/* Laptop 1440px */