/* Organisation de la page */

    /* Body */

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            padding: 30px;
        }

        a {
            text-decoration: none;
        }

    /* Header */

        header {
            border: 1px solid;
            padding: 5px;
        }

        .Logo {
            width: 250px; 
            height: 70px;
            display: block;
            margin: auto;
        } 

    /* Nav */

        .navbar {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            justify-content: center;
            align-items: center;
            justify-items: center;
            border: 1px solid;
        }

        .nav-logo {
            height: 50px;
            width: 50px;
        }

        .accueil {
            grid-column-start: 2;
        }

        .evenement {
            grid-column-start: 3;
        }

        .avenir {
            grid-column-start: 4;
        }

        .avenir:hover {
            background-color: black;
            color: aliceblue;
            padding: 20px;
        }

        .accueil:hover {
            background-color: black;
            color: aliceblue;
            padding: 20px;
        }

        .evenement:hover {
            background-color: black;
            color: aliceblue;
            padding: 20px;
        }

    /* Main */

        main {
            border: 1px solid;
        }

        .head-A, .head-B, .debut-one, .debut-two, .fin {
            border: 1px solid;
        }

        .Title {
            color:blueviolet;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Subtitle {
            display: flex;
            color: blue;
            justify-content: center;
            align-items: center;
        }

        /* Section head-A et head-B */

            .head-A {
                background-image: url(./Image/boxe.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .head-B {
                background-image: url(./Image/Ring.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        /* Section debut-one ( Home ) */

            #Grille {
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                padding: 10px;
                padding-bottom: 10px;
                justify-items: center;
                align-items: center;
            }

            .illustration {
                height: 200px;
                width: 250px;
            }


        /* Section fin */   

            #Grid {
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                padding: 10px;
                padding-bottom: 10px;
                justify-items: center;
            }

            #Carte {
                grid-column-start: 2;
            }

            iframe {
                width: 300px;
                height: 300px;
                justify-content: center;
                align-items: center;
                justify-items:center;
            }

        /* Section debut-two ( Event ) */

            .postal {
                display: block;
                margin: auto;
                width: 100px;
                height: 50px;
            }

    /* Footer */

        footer {
            border: 1px solid;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: ;
            grid-template-areas: ;
        }

        .footer-logo {
            height: 50px;
            width: 50px;
        }

        #champ {

        }



/* Mobile S 320px */



/* Mobile M 375px */



/* Mobile L 425px */



/* Tablet 768 px */



/* Laptop 1024px */



/* Laptop 1440px */