/* Organisation de la page */

    /* Body */

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            padding: 30px;
        }

        a {
            text-decoration: none;
        }

    /* Header */

        header {
            border: 1px solid;
            padding: 5px;
        }

        .Logo {
            width: 250px; 
            height: 70px;
            display: block;
            margin: auto;
        } 

    /* Nav */

        .navbar {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            justify-content: center;
            align-items: center;
            justify-items: center;
            border: 1px solid;
        }

        .nav-logo {
            height: 50px;
            width: 50px;
        }

        .avenir:hover {
            background-color: #B7A263;
            color: aliceblue;
        }

        .accueil:hover {
            background-color: #B7A263;
            color: aliceblue;
            cursor: pointer;
        }

        .evenement:hover {
            background-color: #B7A263;
            color: aliceblue;
            cursor: pointer;
        }

        .accueil, .evenement, .avenir {
            height: 100%;
            width: 100%;
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            align-items: center;
        }

    /* Main */

        main {
            border: 1px solid;
        }

        .head-A, .head-B, .debut-one, .debut-two, .fin {
            border: 1px solid;
        }

        .Title {
            color:#000000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Subtitle {
            display: flex;
            color: #000000;
            justify-content: center;
            align-items: center;
        }

        /* Section head-A et head-B */

            .head-A {
                background-image: url(./Image/boxe.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .head-B {
                background-image: url(./Image/Ring.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        /* Section debut-one ( Home ) */

            #Grille {
                display: grid;
                grid-template-columns: 40% 60%;
                align-items: center;
                padding: 10px;
                padding-bottom: 10px;
                justify-items: center;
                align-items: center;
            }

            .illustration {
                height: 200px;
                width: 250px;
            }


        /* Section fin */   

            #Grid {
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                padding: 10px;
                padding-bottom: 10px;
                justify-items: center;
            }

            #Carte {
                grid-column-start: 2;
            }

            iframe {
                width: 300px;
                height: 300px;
                justify-content: center;
                align-items: center;
                justify-items:center;
            }

        /* Section debut-two ( Event ) */

            .child-img, .men-img, .women-img {
                width: 240px;
                height: 200px;
                border-radius: 5px;
                border: black 1px solid;
            }

            .child, .men, .women {
                color: rgb(255, 255, 255);
            }

            #post {
                display: grid;
                grid-template-columns: 30% 30% 30%;
                align-items: center;
                justify-items: center;
                text-align: center;
                padding: 10px;
                justify-content: center;
                grid-gap: 4%;
            }

            .card {
                background-color: #000;
                border-radius: 10px;
                height: 300px;
                padding: 8px;
                display: grid;
                align-content: center;
            }

            .card:hover {
                background-color: #B7A263;
                padding: 10px;
            }

    /* Footer */

        footer {
            border: 1px solid;
            display: grid;
            grid-template-columns: 40% 60%;
            justify-items: center;
            align-items: center;
            padding: 10px;
        }

        .footer-logo {
            height: 200px;
            width: 200px;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .form {
            grid-column-start: 2;
            grid-row-start: 2;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
          }

          button {
            background-color: #000;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }

          button:hover {
            background-color: #B7A263;
          }
          



/* Mobile S 320px */



/* Mobile M 375px */



/* Mobile L 425px */



/* Tablet 768 px */



/* Laptop 1024px */



/* Laptop 1440px */